{% extends 'base.html' %}

{% block content %}
<h2>Определение основных цветов изображения</h2>
<div class="container">
    <br/><p>После отправки изображения на сервер и его обработки будут выведены коды пяти основных цветов</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="file" name="image" class="form-control">
          </div>          
        <button id="submit-image" type="submit" class="btn btn-primary mb-3">
            <span id="loading-indicator" class="spinner-border spinner-border-sm" aria-hidden="true" style="display: none;"></span>
            <span role="status">Определить цвета</span>
        </button>
    </form>
    <script>
        document.getElementById('submit-image').addEventListener('click', function() {
            document.getElementById('loading-indicator').style = 'display: inherit;'
        });
    </script>
    {% if colors %}
    <div class="container text-center" style="margin-top: 10px;">
        <div class="row">
            {% for color in colors %}
            <div class="col">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="color: {{ color.text }}; background-color: {{ color.bg }};">{{ color.bg }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <img id="image" src="data:image;base64,{{ encoded_image }}" class="img-fluid" alt="Загрузите изображение">
    {% endif %}
</div>
{% endblock %}