{% extends 'base.html' %}

{% block content %}
<h2>Добро пожаловать в приложение для работы с изображениями на основе Django!</h2>
<div class="container">
    <br/><p>Приложение представляет собой удобный инструмент для работы с изображениями, предоставляя две полезные утилиты:</p>
    <ul>
        <li>
            <p class="lead"><strong>Анализатор цветов:</strong></p>
            <p>Эта утилита позволяет загрузить изображение и автоматически определить 5 основных цветов на нем. Полученные цветовые коды могут быть использованы в CSS и HTML.</p>
            <p>Может быть полезно:</p>
            <ul>
                <li>Дизайнерам: для анализа и выбора цветовой схемы проекта.</li>
                <li>Веб-разработчикам: для быстрого определения цветов изображений в процессе верстки сайтов.</li>
                <li>Создателям мобильных приложений: для создания тем с выбранными цветами в приложениях.</li>
            </ul><br/>
        </li>
        <li>
            <p class="lead"><strong>Создание PDF файлов:</strong></p>
            <p>Вторая утилита позволяет загрузить несколько изображений и создать из них многостраничный PDF-файл. Весь процесс обработки изображений происходит в оперативной памяти сервера, при этом файлы не сохраняются на диске.</p>
            <p>Это удобно для пользователей, желающих быстро создать один PDF файл из нескольких отсканированных изображений без необходимости хранения на сервере.</p>
        </li>
    </ul>
</div>
{% endblock %}